.contact-right {
  width: 55%;
  height: 680px;
  padding: 0% 8% 0% 0%;
  margin-bottom: 25px;
  color: var(--secondary);
  /* border: 2px solid black; */
}

.contact-right-container {
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.right-contact-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.right-contact-detail {
  width: 45%;
  position: relative;
}

.right-contact-details:nth-child(1) {
  padding: 0px 20px;
  justify-content: start;
  gap: 40px;
}

.right-contact-details:nth-child(1) > .right-contact-detail {
  width: max-content;
}

.right-contact-details:nth-child(1) > .right-contact-detail > label {
  display: flex;
  gap: 10px;
}

.right-contact-details:nth-child(1) > .right-contact-detail > .formtypes {
  display: none;
}

.right-contact-detail > .forminputs {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 5px;
  font-size: 16px;
  transition: border-color 0.4s ease;
}

.right-contact-detail > .input-label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: all 0.4s ease;
}

.forminputs:focus,
.forminputs:not([value=""]) + .input-label {
  border-bottom: 1px solid #000;
}

.forminputs:focus + .input-label,
.forminputs:not([value=""]) + .input-label {
  color: #000;
  font-size: 12px;
  top: -5px;
  transition: all 0.4s ease;
}

.formTextArea {
  margin: 0px 20px;
  width: 100%;
}
