.aluminum-container {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  width: 95%;
  margin: 20px auto;
  margin-top: 80px;
  align-items: flex-start;
}

.aluminum-main-content {
  padding: 20px;
  width: 75%;
}

.aluminum-extras {
  border-radius: 8px;
}

.aluminum-extras-divs .header {
  font-size: 2em;
  color: var(--teritary);
  text-align: center;
  font-weight: bold;
}

.aluminum-extras-divs {
  margin-top: 20px;
  overflow: hidden;
  overflow-x: scroll;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.aluminum-extras-divs .sub-header {
  color: var(--teritary);
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .aluminum-main-content {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .aluminum-container {
    flex-direction: column;
    align-items: stretch;
  }
  .aluminum-main-content {
    width: 100%;
  }
}
