@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
.thankyou_main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.mail-img {
  height: 100%;
  width: 20%;
}
.thanks-msg {
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Berkshire Swash";
}
.short-msg {
  font-size: 20px;
}
.short-msg > strong {
  color: #004aad;
}
.home-btn {
  border-radius: 50px;
  height: 4vh;
  width: 7.2%;
  font-size: large;
  margin: 20px;
}
.issue-msg {
  color: rgb(115, 124, 124);
}
.issue-msg > a {
  color: black;
}
